// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
@import "reset";
// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

body {
  margin: 4rem 0 0;
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

// GRID
.container {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1280px;
  flex-direction: row;
  justify-content: space-between;

  & .section {
    flex-grow: 1;
    width: 100%;
  }
  & .aside {
    width: 400px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1.5rem 0;
  background: #fff;
  box-shadow: 0 1rem 1.5rem 0 rgba(150, 153, 173, 0.15);
}

.main {

}

.footer {
  min-height: 600px;
}

.section {
  &-header {
    padding: 3rem 0;
    &__title {
      font-size: 3rem;
      font-weight: 900;
    }
    &__subtitle {
      font-size: 1.5rem;
      font-weight: 600;
      color: rgba(9, 22, 42, 0.85);
    }
  }
}

// ARTICLES
.article {
  margin: 1.5rem 0;
  padding: 1rem 0;
  &__header {
    & h2 {
      font-size: 2rem;
      font-weight: 900;
      margin: 0 0 1.5rem;
    }
  }
  &__poster {
    & img {
      width: 100%;
      margin: 0 0 1rem;
      border-radius: 1rem;
      box-shadow: 0 1rem 1.5rem 0 rgba(150, 153, 173, 0.45);
    }
  }
}